<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="h.css" rel="stylesheet">
    <title>job!</title>
  </head>
  <body >
    <nav class="navbar navbar-light bg-light" id="nav">
      <div class="container-fluid">
        <a class="navbar-brand">find</a>
        
        <form class="d-flex">
          
          <button class="btn btn-success" type="submit">login</button>
          
          <button class="btn btn-success mx-2"  type="submit">signup</button>
        </form>
      </div>
    </nav>
            <!-- navbar end -->


            <!-- firstdiv -->


            <div style="background: url(https://static8.depositphotos.com/1017950/1057/i/600/depositphotos_10579936-stock-photo-under-construction.jpg);background-repeat: no-repeat;background-size: cover;"  class="jumbotron bg-cover text-white">
                <div class="container py-5 text-center">
                   
                  <br><br><br><br><br><br>

                    <form action="get" class="container">
                               
                
              
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <input type="text" placeholder="job title" name="job title"style=" width: 35%; height:1cm;
                        font-size: 1.2rem;  border-box:solid;  color: #065a9b;
                        background-color: #fff;" required>
                    
                        
                        
                        
                        <input type="text" placeholder="city,pincode" style=" width: 35%; height:1cm;
                        font-size: 0.875rem;   font-size: 1.2rem; color: #065a9b;
                        background-color: #fff; "required>
                        
                        <!-- <input type="text" class="form-control search-slt" placeholder="Enter Pickup City" style=" display: block;
                        width: 25%;
                        font-size: 0.875rem;
                        line-height: 1.5;
                        color: #55595c;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #ccc;
                        
                        border-radius:0;">
                         <input type="text" class="form-control search-slt" placeholder="Enter Pickup City" style=" display: block;
                         width: 25%;
                         font-size: 0.875rem;
                         line-height: 1.5;
                         color: #55595c;
                         background-color: #fff;
                         background-image: none;
                         border: 1px solid #ccc;
                         
                         border-radius:0;"> -->

                       
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br>
                            <br>
                      <button type="submit" class="btn btn-warning" style=" width: 25%;" >FIND WORKERS</button>
                      </form>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                      <br><br><br><br><br>
                </div>
            </div>





    
</body>
</html>