
.next{
    margin-top: 100px; 
}









.body{
    background-image:url('/project/static/city-pune-sky-india.jpg');
    background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;

}
